- name: Copy script
  copy:
    src: campaign.sh
    dest: /tmp
    mode: 0777
- name: Copy campaign file
  copy:
    src: campaign.json
    dest: /tmp
    mode: 0600      

- shell: /tmp/campaign.sh /tmp/campaign.json > /tmp/campaign.csv

- name: Copy results
  fetch:
    src: /tmp/campaign.csv
    dest: "{{ result_dir }}/{{ campaign }}-{{ cloud_provider }}-{{ machine }}.csv"
    flat: yes
